# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js
/frontend/.next/
/frontend/out/
/frontend/build/
.next/
out/

# Environment / secrets
.env
.env.local
.env*.local
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
.idea/

# Vercel
.vercel

# Misc
*.log
