body {
  margin: 0;
  font-family: var(--font-courier), 'Courier New', Courier, monospace;
  -webkit-font-smoothing: auto;
}

code {
  font-family: var(--font-courier), 'Courier New', Courier, monospace;
}
